body{
    margin:0;
    /* background-color: grey; */
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height:10vh;
    background: white;
    box-shadow: 0 5px 5px -5px #333;
}

.nav-heading{
    font-size:2rem;
    font-weight: 300;
    margin-left: 2rem;
}

.container1{
    display: flex;
    /* border: 1px solid black; */
    margin: 3rem 0 1.5rem 0;
}
.link-card{
    width:25%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-card-content{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    margin: 0 2rem;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
    padding: 0.25rem 0.5rem;
    background: white;
    width:70%;
    border-radius: 0.5rem;
}
.link-card-details{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.name{
    font-size: 1.25rem;
}
.heading{
    font-size: 1rem;
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.heading-content{
    margin-right: 25%
}
.sub-heading{
    font-size: 2rem;
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin:2% 15%;
}
.content-paragh{
    text-align: center;
    margin: 0.75rem;
    /* border: 1px solid black; */
}

.video-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    margin:2% 15%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.video-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.vide-description{
    font-size:0.75rem;
    font-weight: bold;
}
.video{
    margin:1rem 0;
    display: flex;
    justify-content: center;
    
}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    height:8vh;
    box-shadow: 0 -10px 10px -10px #333;
    background: white;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: grey;
    font-size: 00.75rem;
    font-style: italic;
}

.socials-link{
    font-size: 1rem;
    color:black;
    font-weight: bold;
    margin-left: 1rem;
    font-style: normal;
    text-decoration: none;
}

.fa {
    padding: 10px;
    font-size: 40px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

.resume {
    font-size:60px;
    color: red;
}

.dropdown{
    display: flex;
    justify-content: right;
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 2rem;
    border-top:1px solid black;
    padding: 0.75rem 0;
}

.dash{
    width: 100%;
    height:1px;
    border:1px solid black;
}

.dropbtn {
    display: flex;
    background-color: white;
    /* color: white; */
    padding:0 16px;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
    width:100%; 
    justify-content: space-between;
    align-items: center;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: whitesmoke;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size:1rem ;
  }
  
  .dropdown-content a:hover {
      background-color: #ddd}
  
  .show {display:block;}